{% extends 'base.html' %}

{% block title %}Aspirante - Inicio{% endblock %}
{% block content %}
<div class="container">
<h1>Bienvenido, {{ user.first_name }} </h1>

<div class="grid-container">
    {% for module in user.exam.modules.all %}
    <div class="grid-item"><a href="{% url 'exam:question' module.id %}">{{ module.description }}</a></div>
    {% endfor %}
</div>
<hr>

{{ current_user }}

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Salir">
    </form>
</div>
{% endblock %}